{{ define "main" }}

  <div class = "row">
    <div class = "col-md-12">
      <h1>{{ title .Title }}</h1>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-3">
      <img src = "{{ .Params.episode_image }}" class="img-responsive episode_image" />
    </div>
    <div class = "row">
      <div class = "col-md-8">
        {{ .Description | markdownify }}
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-12">
        <audio src="{{ .Site.Params.media_prefix }}{{ .Params.podcast_file }}" preload="auto" />
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <h2>Show Notes</h2>
      {{ .Content }}
    </div>
  </div>
  {{ if .Params.guests }}
    <div class = "row"><!-- guests begin -->
      <div class = "col-md-12">
        <h2>Guests</h2>
      </div>
      <div class = "col-md-12">
        {{ range $person :=.Params.guests }}
        {{ if (isset $.Site.Data.guests $person) }}
          {{ $p :=  (index $.Site.Data.guests $person) }}
            <div class="row">
              <div class="col-md-3">
                {{ if and (isset $p "thumbnail") (ne $p.thumbnail "") }}
                  {{ if (eq (slicestr $p.thumbnail 0 4) "http") }}
                    <img alt = "{{ $p.full_name }}" src = "{{ $p.thumbnail}}" class="img-responsive" width = "250px">
                  {{ else }}
                    <img alt = "{{ $p.full_name }}" src = "{{ $.Site.BaseURL }}{{ $p.thumbnail}}" class="img-responsive" width = "250px">
                  {{ end }}
                {{ else }}
                  <img alt = "{{ $p.full_name }}" src = "{{ $.Site.BaseURL }}/img/guest/default-guest.png" class="img-responsive" width = "250px" />
                {{ end }}
              </div>
              <div class= "col-md-8">
                <h2>{{ $p.full_name }}</h2>
                {{ if isset $p "bio" }}
                  <p>{{ $p.bio | markdownify }}</p>
                {{ end }}
                {{ if isset $p "homepage" }}
                  <a href = "{{ $p.homepage}}"><i class="fa fa-home fa-2x"></i></a>
                {{ end }}
                {{ if isset $p "twitter" }}
                  <a href = "https://twitter.com/{{ $p.Twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
                {{ end }}
                {{ if isset $p "github"}}
                  <a href = "https://github.com/{{ $p.GitHub}}"><i class="fa fa-github-square fa-2x"></i></a>
                {{ end }}
                {{ if isset $p "linkedin" }}
                  <a href = "{{ $p.LinkedIn}}"><i class="fa fa-linkedin-square fa-2x"></i></a>
                {{ end }}
                {{ if isset $p "facebook" }}
                  <a href = "{{ $p.Facebook}}"><i class="fa fa-facebook-square fa-2x"></i></a>
                {{ end }}
              </div>
              {{ end }}
            </div>
        {{ end }}
      </div>
    </div><!-- guests end -->
    {{ end }}
  <div class = "row"><!-- sharing begins -->
    <div class = "col-md-12">
      <div id="share"></div>
    </div>
  </div><!-- sharing ends -->
  <div class = "row"><!-- disqus begins -->
    <div class = "col-md-12">
      {{ partial "disqus.html" . }}
    </div>
  </div><!-- disqus ends -->
  <div class = "row"> <!-- pager begin -->
    <div class = "col-md-12">
      <nav>
        <ul class="pager">
          {{ if .PrevInSection }}
            <li class="previous"><a href="{{.PrevInSection.Permalink}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
          {{ else }}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next"><a href="{{.NextInSection.Permalink}}">Next <span aria-hidden="true">&rarr;</span></a></li>
          {{ else }}
            <li class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div><!-- pager end -->
{{ end }}
