<!-- Schema.org markup -->
<meta itemprop="name" content="{{ .Title }}">
<meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}">

<!-- Output images -->
{{ with .Params.images }}{{ range first 6 . }}
  {{ if (eq (slicestr . 0 4) "http") }}
	 <meta itemprop="image" content="{{ . }}">
  {{ else }}
    <meta itemprop="image" content="{{ $.Site.BaseURL}}{{ . }}">
  {{ end }}
{{ end }}{{ end }}

<!-- Output all taxonomies as schema.org keywords -->
<meta itemprop="keywords" content="{{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}" />

{{if .IsPage}}
<meta itemprop="wordCount" content="{{ .WordCount }}">
{{ end }}
