<style type="text/css">
.giscus, .giscus-frame {
        width: 100%;
        border: none;
    }
</style>    
<script src="https://giscus.vercel.app/client.js"
        data-repo="{{ site.Params.giscus.data_repo }}"
        data-repo-id="{{ site.Params.giscus.data_repo_id }}"
        data-category-id="{{ site.Params.giscus.data_category_id }}"
        data-mapping="{{ site.Params.giscus.data_mapping }}"
        data-theme="{{ site.Params.giscus.data_theme }}"
        crossorigin="{{ site.Params.giscus.crossorigin }}"
        async>
</script>

<noscript>Please enable JavaScript to view the <a href="https://giscus.vercel.app/">comments powered by Giscus.</a></noscript>
