{{ if ne .RelPermalink "/host/" }}
<div class="max-w-5xl mx-auto py-8 px-4">
  <div class="flex flex-wrap -mx-4 mb-6">
    <div class="w-full px-4">
      <h2 class="text-3xl font-bold mb-4">Hosts</h2>
    </div>
  </div>
</div>
{{ end }}

{{ range where .Site.Pages.ByTitle "Type" "host" }}
    {{- if ne .Params.hide "true" -}}
      {{- if not (in .File.BaseFileName "_index") -}}
          {{ .Scratch.Set "people-type" "host" }}
          {{ partial "list-people" . }}
      {{- end -}}
    {{- end -}}
{{ end }}