<div class="w-full bg-castanet-primary-100 dark:bg-castanet-primary-800 py-8 px-4 rounded-lg shadow mb-8">
  <div class="max-w-5xl mx-auto">
    <!-- Top row: description and hosts -->
    <div class="flex flex-col md:flex-row items-center md:items-center justify-between gap-6 pb-14">
      <div class="flex-1 min-w-[200px] text-center md:text-left">
        <p class="text-lg text-castanet-primary-700 dark:text-castanet-primary-200">
          {{ .Site.Params.description | markdownify }}
        </p>
      </div>
      <div class="flex flex-col md:flex-row items-center md:items-end gap-6 mt-6 md:mt-0">
        {{ range $p:= $.Site.Params.authors }}
          <div class="relative flex flex-col items-center w-40 h-40">
            {{ if $p.shortname }}
              <a href="/host/{{ $p.shortname }}/" class="group">
                {{ $image := resources.GetMatch $p.thumbnail }}
                {{ with $image }}
                  {{ $image := .Process "webp" }}
                  <img alt="{{ $p.name }}" src="{{ $image.RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-full w-40 h-40 object-cover border-2 border-castanet-primary-300 dark:border-castanet-primary-600 group-hover:border-castanet-primary-700 transition">
                {{ else }}
                  <img alt="{{ $p.name }}" src="{{ $p.thumbnail | absURL }}" class="rounded-full w-40 h-40 object-cover border-2 border-castanet-primary-300 dark:border-castanet-primary-600 group-hover:border-castanet-primary-700 transition">
                {{ end }}
                <span class="absolute left-1/2 -trancastanet-primary-x-1/2 top-full mt-2 w-40 text-center capitalize text-castanet-primary-800 dark:text-castanet-primary-100 text-sm group-hover:text-castanet-primary-700 transition">{{ $p.name }}</span>
              </a>
            {{ else }}
              {{ $image := resources.GetMatch $p.thumbnail }}
              {{ with $image }}
                {{ $image := .Process "webp" }}
                <img alt="{{ $p.name }}" src="{{ $image.RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="rounded-full w-40 h-40 object-cover border-2 border-castanet-primary-300 dark:border-castanet-primary-600">
              {{ else }}
                <img alt="{{ $p.name }}" src="{{ $p.thumbnail | absURL }}" class="rounded-full w-40 h-40 object-cover border-2 border-castanet-primary-300 dark:border-castanet-primary-600">
              {{ end }}
              <span class="absolute left-1/2 -trancastanet-primary-x-1/2 top-full mt-2 w-40 text-center capitalize text-castanet-primary-800 dark:text-castanet-primary-100 text-sm">{{ $p.name }}</span>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>

    <!-- Podlove subscribe button -->
     <!-- TODO update to use https://github.com/podlove/podlove-subscribe-button-->
    {{ if (isset .Site.Params "podlove") }}
    <div class="flex justify-center mt-6">
      <script>window.podcastData={'title':'{{ if (isset .Site.Params.podlove "subscribe_title") }}{{ .Site.Params.podlove.subscribe_title }}{{else}}{{ .Title }}{{end}}','subtitle':'{{ .Site.Params.podlove.subscribe_subtitle }}','description':'{{ if (isset .Site.Params.podlove "subscribe_description") }}{{ .Site.Params.podlove.subscribe_description }}{{else}}{{ .Site.Params.Description }}{{end}}','cover':'{{ .Site.Params.podlove.subscribe_cover }}','feeds':[{'type':'{{ .Site.Params.podlove.subscribe_feed_type }}','format':'{{ .Site.Params.podlove.subscribe_feed_format }}','url':'{{ .Site.Params.rss_subscribe }}','directory-url-itunes':'{{ .Site.Params.podlove.apple_podcasts_subscribe }}'}]}</script>
      <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="{{ .Site.Params.podlove.subscribe_language }}" data-size="{{ .Site.Params.podlove.subscribe_size }}" data-json-data="podcastData" data-color="{{ .Site.Params.podlove.subscribe_color }}" data-format="{{ .Site.Params.podlove.subscribe_format }}" data-style="{{ .Site.Params.podlove.subscribe_style }}"></script>
      <noscript><a href="{{ .Site.Params.rss_subscribe }}">Subscribe to feed</a></noscript>
    </div>
    {{ end }}
    {{ partial "subscribe-buttons.html" (dict "Site" .Site "Params" .Site.Params) }}

    </div>
  </div>
</div>
