{{- $type := $.Scratch.Get "people-type" -}}
<div class="flex flex-wrap -mx-4">
  <div class="w-full px-4">
    {{- $.Scratch.Set "person-name" .File.BaseFileName -}}
    {{ $.Scratch.Set "hide-person" "false" }}
    {{- with .Params.guest_group -}}
      {{ range first 1 (where $.Site.Pages "Params.guest_group" . ).ByDate.Reverse }}
        {{ if ne ($.Scratch.Get "person-name") .File.BaseFileName }}
          {{ $.Scratch.Set "hide_person" "true" }}
        {{ end }}
      {{ end }}
    {{- end -}}
    {{- with .Params.host_group -}}
    {{ range first 1 (where $.Site.Pages "Params.host_group" . ).ByDate.Reverse }}
      {{ if ne ($.Scratch.Get "person-name") .File.BaseFileName }}
        {{ $.Scratch.Set "hide_person" "true" }}
      {{ end }}
    {{ end }}
  {{- end -}}

      {{ if ne ($.Scratch.Get "hide_person") "true"}}
      {{- $type := $.Scratch.Get "people-type" -}}
        <div class="flex flex-wrap -mx-4 mb-8 items-center person_row border-b border-gray-200 dark:border-gray-700 pb-6">
          <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
            {{- if and (isset .Params "thumbnail") (ne .Params.thumbnail "") -}}
              {{- if (eq (slicestr .Params.thumbnail 0 4) "http") -}}
                <a href = "{{ (printf "%s/%s/" $type .File.BaseFileName) | relURL }}"><img alt="{{ .Title }}" src="{{ .Params.thumbnail }}" class="w-full h-auto rounded-lg shadow" width="250px"></a>
                {{- else -}}
                <a href = "{{ (printf "%s/%s/" $type .File.BaseFileName) | relURL }}"><img alt="{{ .Title }}" src="{{ .Params.thumbnail | absURL}}" class="w-full h-auto rounded-lg shadow" width="250px"></a>
              {{- end -}}
              {{- else -}}
              <a href = "{{ (printf "%s/%s/" $type .File.BaseFileName) | relURL }}"><img alt="{{ .Title }}" src="{{ printf "img/%s/default-%s.png" (fmt.Printf "%s" $type) (fmt.Printf "%s" $type) | absURL }}" class="w-full h-auto rounded-lg shadow" width="250px"/></a>
            {{- end -}}
          </div>
          <div class="w-full md:w-2/3 px-4">
            <h3 class="text-xl font-semibold mb-2"><a href = "{{ (printf "%s/%s/" $type .File.BaseFileName) | relURL }}">{{ .Title }}</a> {{ with .Params.Pronouns }}({{ . }}){{ end }}</h3>
            <p class="mb-2">{{ .Content }}</p>
            {{ with .Params.Website }}
              <a href = "{{ . }}" target="_blank"><i class="fas fa-home fa-2x"></i></a>
            {{ end }}
            {{ with .Params.Twitter }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-twitter-square fa-2x" "prefix" "https://twitter.com/" "text" "") }}
            {{ end }}
            {{ with .Params.GitHub}}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-github-square fa-2x" "prefix" "https://github.com/" "text" "") }}
            {{ end }}
            {{ with .Params.LinkedIn }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-linkedin fa-2x" "prefix" "https://www.linkedin.com/in/" "text" "") }}
            {{ end }}
            {{ with .Params.Facebook }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-facebook-square fa-2x" "prefix" "https://www.facebook.com/" "text" "") }}
            {{ end }}
            {{ with .Params.Pinterest }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-pinterest-square fa-2x" "prefix" "https://www.pinterest.com/" "text" "") }}
            {{ end }}
            {{ with .Params.Instagram }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-instagram fa-2x" "prefix" "https://www.instagram.com/" "text" "") }}
            {{ end }}
            {{ with .Params.YouTube }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-youtube-square fa-2x" "prefix" "https://www.youtube.com/" "text" "") }}
            {{ end }}
            {{ with .Params.Twitch }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-twitch fa-2x" "prefix" "https://twitch.tv/" "text" "") }}
            {{ end }}
            {{ with .Params.Mastodon }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-mastodon fa-2x" "prefix" "" "text" "") }}
            {{ end }}
            {{ with .Params.Threads }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fa-brands fa-square-threads fa-2x" "prefix" "https://threads.net/@" "text" "") }}
            {{ end }}
            {{ with .Params.Bluesky }}
              {{ partial "social-link.html" (dict "context" . "aclass" "" "iclass" "fab fa-square-bluesky fa-2x" "prefix" "https://bsky.app/profile/" "text" "") }}
            {{ end }}
          </div>
        </div>
      {{ end }}

