<section class="w-full max-w-5xl mx-auto">
  <!-- rest of episodes -->
  {{- if (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
  {{- $paginator := .Paginate (where ( where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.upcoming" "==" true ) }}
  {{- $list := (where ( where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.upcoming" "==" true ) -}}
  {{- $len := (len $list) -}}
  <div class="flex flex-col lg:flex-row gap-8">
    {{- with .Site.Params.enable_jumbo -}}
      {{- if eq . "true" -}}
        <div class="w-full">
      {{- else -}}
        <div class="lg:w-2/3">
      {{- end -}}
    {{- else -}}
      <div class="lg:w-2/3">
    {{- end -}}
    {{- if gt $len 1 -}}
      {{- range $paginator.Pages -}}
        {{ partial "row/episode-row.html" . }}
      {{- end -}}
   
    {{- end -}}
    </div>

 

    {{- if isset .Site.Params "enable_jumbo" -}}
      {{- if ne .Site.Params.enable_jumbo "true" -}}
        <div class="lg:w-1/3">
          {{- partial "sidebar.html" . -}}
        </div>
      {{- end -}}
    {{- else -}}
      <div class="lg:w-1/3">
        {{- partial "sidebar.html" . -}}
      </div>
    {{- end -}}
  </div>

  {{- if gt $paginator.TotalPages 1 -}}
  <div class="mt-8">
    <nav class="flex justify-center">
      {{ $pag := $.Paginator }}
      {{ $window := $.Site.Params.paginateWindow | default 1 }}
      {{ if gt $pag.TotalPages 1 }}
        {{ $total := $pag.TotalPages }}
        {{ $size := add 5 (add $window $window) }}
        {{ $cur := $pag.PageNumber }}
        {{ if gt $total $size }}
          {{ if lt $cur (sub $size (add $window 1)) }}
            {{ $.Scratch.Set "show" (seq 1 (sub $size 2)) }}
          {{ else if lt (sub $total $cur) (sub $size (add $window 2)) }}
            {{ $.Scratch.Set "show" (seq (add (sub $total $size) 3) $total) }}
          {{ else }}
            {{ $.Scratch.Set "show" (seq (sub $cur $window) (add $cur $window)) }}
          {{ end }}
          {{ $.Scratch.Add "show" 1 }}
          {{ $.Scratch.Add "show" $total }}
        {{ else }}
          {{ $.Scratch.Set "show" (seq 1 $total) }}
        {{ end }}

        <ul class="flex space-x-2">
          <!-- first page button -->
          {{if $paginator.HasPrev }}
            {{ if gt $paginator.PageNumber 2 }}
              {{- with $paginator.First -}}
                {{- $url := trim (string .URL) "/" | absURL -}}
                <li>
                  <a href="{{ $url }}" aria-label="First" class="px-3 py-2 rounded-md bg-white text-castanet-primary-700 hover:bg-castanet-primary-50 border border-castanet-primary-300 dark:text-white">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                  </a>
                </li>
              {{- end -}}
            {{ end }}
          {{ end }}

          <!-- prev page button -->
          {{- with $paginator.HasPrev -}}
            <li>
              <a href="{{ $paginator.Prev.URL }}" class="px-3 py-2 rounded-md bg-white text-castanet-primary-700 hover:bg-castanet-primary-50 border border-castanet-primary-300">
                &laquo;
              </a>
            </li>
          {{ end }}
          
          <!-- page # buttons -->
          {{ range $pag.Pagers }}
            {{ $cur := .PageNumber }}
            {{- $url := trim (string .URL) "/" | absURL -}}
            {{ if in ($.Scratch.Get "show") $cur }}
              <li>
                <a href="{{ .URL }}" class="px-3 py-2 rounded-md {{ if eq . $pag }}bg-blue-600 text-white{{ else }}bg-white text-castanet-primary-700 hover:bg-castanet-primary-50{{ end }} border border-castanet-primary-300">
                  {{ .PageNumber }}
                </a>
              </li>
            {{ else if in (slice 2 (sub $total 1)) $cur }}
              <li>
                <span class="px-3 py-2 text-castanet-primary-500">&hellip;</span>
              </li>
            {{ end }}
          {{ end }}
          
          <!-- next page button -->
          {{- with $paginator.HasNext -}}
            <li>
              <a href="{{ $paginator.Next.URL }}" class="px-3 py-2 rounded-md bg-white text-castanet-primary-700 hover:bg-castanet-primary-50 border border-castanet-primary-300">
                &raquo;
              </a>
            </li>
          {{ end }}
          
          <!-- last page button -->
          {{ if lt $paginator.PageNumber (sub $paginator.TotalPages 1) }}
            {{- with $paginator.Last -}}
              {{- $url := trim (string .URL) "/" | absURL -}}
              <li>
                <a href="{{ $url }}" aria-label="Last" class="px-3 py-2 rounded-md bg-white text-castanet-primary-700 hover:bg-castanet-primary-50 border border-castanet-primary-300">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
            {{- end -}}
          {{ end }}
        </ul>
      {{ end }}
    </nav>
  </div>
  {{- end -}}
  {{- end -}}
</section>