          {{ if (isset .Site.Params.social "facebook" ) }}
          <li class>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.facebook "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-facebook-square text-2xl" "prefix" "https://www.facebook.com/" "text" "") }}
          </li>
          {{ end }}
          {{ if (isset .Site.Params.social "twitter" ) }}
          <li>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.twitter "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-twitter-square text-2xl" "prefix" "https://twitter.com/" "text" "") }}
          </li>
          {{ end }}
          {{ if (isset .Site.Params.social "github" ) }}
            <li>
              {{ partial "social-link.html" (dict "context" $.Site.Params.social.github "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-github-square text-2xl" "prefix" "https://github.com/" "text" "") }}
            </li>
          {{ end }}
          {{ if (isset .Site.Params.social "youtube" ) }}
          <li>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.youtube "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-youtube-square text-2xl" "prefix" "https://youtube.com/" "text" "") }}
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "pinterest" ) }}
          <li>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.pinterest "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-pinterest-square text-2xl" "prefix" "https://www.pinterest.com/" "text" "") }}
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "instagram" ) }}
          <li>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.instagram "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-instagram text-2xl" "prefix" "https://www.instagram.com/" "text" "") }}
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "linkedin" ) }}
          <li>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.linkedin "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-linkedin text-2xl" "prefix" "https://www.linkedin.com/in/" "text" "") }}
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "gitlab" ) }}
          <li>
            {{ partial "social-link.html" (dict "context" $.Site.Params.social.gitlab "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-gitlab text-2xl" "prefix" "https://gitlab.com/" "text" "") }}
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "twitch" ) }}
        <li>
          {{ partial "social-link.html" (dict "context" $.Site.Params.social.twitch "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-twitch text-2xl" "prefix" "https://twitch.tv/" "text" "") }}
        </li>
        {{ end }}
        {{ if (isset .Site.Params.social "mastodon" ) }}
        <li>
          {{ partial "social-link.html" (dict "context" $.Site.Params.social.mastodon "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fab fa-mastodon text-2xl" "prefix" "" "text" "") }}
        </li>
        {{ end }}
        {{ if (isset .Site.Params.social "threads" ) }}
        <li>
          {{ partial "social-link.html" (dict "context" $.Site.Params.social.threads "aclass" "text-gray-600 hover:text-gray-900" "iclass" "fa-brands fa-square-threads text-2xl" "prefix" "https://www.threads.net/@" "text" "") }}
        </li>
        {{ end }}