{{ if (isset .Site.Params.social "facebook" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.facebook "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-facebook-square text-2xl" "prefix" "https://www.facebook.com/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "twitter" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.twitter "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-twitter-square text-2xl" "prefix" "https://twitter.com/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "github" ) }}
  
    {{ partial "social-link.html" (dict "context" $.Site.Params.social.github "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-github-square text-2xl" "prefix" "https://github.com/" "text" "") }}

{{ end }}
{{ if (isset .Site.Params.social "youtube" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.youtube "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-youtube-square text-2xl" "prefix" "https://youtube.com/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "pinterest" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.pinterest "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-pinterest-square text-2xl" "prefix" "https://www.pinterest.com/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "instagram" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.instagram "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-instagram text-2xl" "prefix" "https://www.instagram.com/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "linkedin" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.linkedin "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-linkedin text-2xl" "prefix" "https://www.linkedin.com/in/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "gitlab" ) }}

  {{ partial "social-link.html" (dict "context" $.Site.Params.social.gitlab "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-gitlab text-2xl" "prefix" "https://gitlab.com/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "twitch" ) }}

{{ partial "social-link.html" (dict "context" $.Site.Params.social.twitch "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-twitch text-2xl" "prefix" "https://twitch.tv/" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "mastodon" ) }}

{{ partial "social-link.html" (dict "context" $.Site.Params.social.mastodon "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-mastodon text-2xl" "prefix" "" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "threads" ) }}

{{ partial "social-link.html" (dict "context" $.Site.Params.social.threads "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fa-brands fa-square-threads text-2xl" "prefix" "https://www.threads.net/@" "text" "") }}
{{ end }}
{{ if (isset .Site.Params.social "bluesky" ) }}

{{ partial "social-link.html" (dict "context" $.Site.Params.social.bluesky "aclass" "text-castanet-primary-600 hover:text-castanet-primary-900" "iclass" "fab fa-square-bluesky text-2xl" "prefix" "https://bsky.app/profile/" "text" "") }}
{{ end }}

