<div class = "row">
  <div class = "col-md-12">
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ $firstChild := index .Pages 0}}
      {{ $firstImage := index ($firstChild.Params.images) 0}}
      <div class="row person_row">
        <div class="col-md-4">          
          {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <a href="{{ .Page.Permalink }}"><img src="{{ $firstImage | absURL }}" alt="{{ .Title }}" class="img-fluid"></a>
          {{ end }}
        </div> 
      <div class= "col-md-8">
        {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a> </h3>
        {{ end }}
        <p>{{ $count }} episode{{ if ne $count 1 }}s{{ end }}</p>
      </div>  
    </div>
      {{ end }}
  </div>
</div>
