{{ define "main" }}

  <div class="max-w-5xl mx-auto py-8 px-4">
    <div class="flex flex-wrap -mx-4 mb-6">
      <div class="w-full px-4">
        <h1 class="text-3xl font-bold mb-4">About {{ .Site.Title }}</h1>
      </div>
    </div>
    <div class="flex flex-wrap -mx-4 mb-6 items-center">
      <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
        {{ if isset $.Site.Params "about_logo" }}
          <img src="{{ $.Site.Params.about_logo }}" class="w-full h-auto rounded-lg shadow" width="250px"/>
        {{ else }}
          <img src="{{ .Site.Params.feed.apple_podcasts_image }}" class="w-full h-auto rounded-lg shadow" width="250px"/>
        {{ end }}
      </div>
      <div class="w-full md:w-2/3 px-4">
        {{ .Site.Params.description | markdownify }}
      </div>
    </div>
    <div class="flex flex-wrap -mx-4 mb-6">
      <div class="w-full px-4">
        {{ .Content }}
      </div>
    </div>
  </div>

  {{ partial "hosts.html" . }}
  
{{ end }}
