{{ define "main" }}

  <div class = "row">
    <div class = "col-md-12">
      <h1>About {{ .Site.Title }}</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-3">
      {{ if isset $.Site.Params "about_logo" }}
        <img src = "{{ $.Site.Params.about_logo }}" width = "250px"/>
      {{ else }}
        <img src = "{{ .Site.Params.feed.itunes_image }}" width = "250px"/>
      {{ end }}
    </div>
    <div class = "col-md-6">
      {{ .Site.Params.description | markdownify }}
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-12">
      {{ .Content}}
    </div>
  </div>

  {{ partial "hosts.html" . }}
  
{{ end }}
