<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/7.0.2/mediaelement-and-player.min.js" integrity="sha512-kulfy3EdrimG/fyJ2g2pEkAv3MS5+Fkd+fmPujgIhW++o+qCsNxxFnborsjECVHx4HdAuXRL/oRXJ+S3Baisdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials.min.js" integrity="sha512-3Ov4ZromgNap5Adyn3V0/q2CAaW3u38FTpOhDNuM5zkQ7Zcm9/NMtuO7xmBsb/HPqdA2AP9AHq1N2WOUdNzkKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- add our javascript here -->
{{/*  {{ $scripts := partialCached "functions/getJavascriptBundle" . }}

<script src='{{ $scripts.Permalink}}'></script>    */}}

<script>
  $("#share").jsSocials({
      shares: [
    {
      share: "facebook",
      logo: "fab fa-facebook",
    },
    {
      share: "twitter",           // name of share
      label: "Tweet",             // share button text (optional)
      logo: "fab fa-twitter",
      // The twitter link can be based in short ("arresteddevops") or
      //  long form ("https://twitter.com/arresteddevops")
      // In long form we need to strip everything but the twitter handle
      //  for the 'via' parameter
      {{ if (isset .Site.Params.social "twitter" )}}
        {{ if gt (len (urls.Parse .Site.Params.social.twitter).Scheme) 0 }}
          via: "{{ trim ((urls.Parse .Site.Params.social.twitter).Path) "/" }}", // custom twitter sharing param 'via' (optional)
        {{ else }}
          via: "{{ .Site.Params.social.twitter }}", // custom twitter sharing param 'via' (optional)
        {{ end }}
      {{ end }}
      url: "{{ .Permalink }}",
      text: "{{ title .Title }}"
    },
    {
      share: "linkedin",
      logo: "fab fa-linkedin"
    },
    {
      share: "pinterest",
      logo: "fab fa-pinterest"
    }
  ],
  });
</script>

<script>
    $(document).ready(function() {

        $('.transcript').hide();
        $(".hide_transcript").hide();
        $(".hide_transcript").click(function() {
            $(".transcript").hide("fast");
            $(".show_transcript").show();
            $(".hide_transcript").hide();
        });

        $(".show_transcript").click(function() {
            $(".transcript").show(500);
            $(".hide_transcript").show();
            $(".show_transcript").hide();
        });

    });
</script>

<script>
    var player = new MediaElement('player2', {
        features: ['playpause', 'current', 'progress', 'duration', 'volume', 'speed'],
        defaultSpeed: 1.0,
        // other configuration elements
    });
</script>