<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap3_player.js"></script>
<script src="{{ .Site.BaseURL }}js/jssocials.min.js"></script>
<script>
    $("#share").jsSocials({
        shares: ["facebook", "linkedin", "pinterest",
      {
        share: "twitter",           // name of share
        label: "Tweet",             // share button text (optional)
        {{ if (isset .Site.Params.social "twitter" )}}
          via: "{{ .Site.Params.social.twitter }}",       // custom twitter sharing param 'via' (optional)
        {{ end }}
        url: "{{ .Params.permalink }}",
        text: "{{ title .Title }}"
      }],
    });
</script>
