<script src={{ "js/castanet-min.js" | absURL }}></script>
<script>
    $("#share").jsSocials({
        shares: ["facebook", "linkedin", "pinterest",
      {
        share: "twitter",           // name of share
        label: "Tweet",             // share button text (optional)
        {{ if (isset .Site.Params.social "twitter" )}}
          via: "{{ .Site.Params.social.twitter }}",       // custom twitter sharing param 'via' (optional)
        {{ end }}
        url: "{{ .Params.permalink }}",
        text: "{{ title .Title }}"
      }],
    });
</script>
<script>
audiojs.events.ready(function() {
  var as = audiojs.createAll({
    imageLocation: '{{"img/player-graphics.gif" | relURL}}',
    retinaImageLocation: '{{"img/player-graphics@2x.gif" | relURL}}',
    swfLocation: '{{"swf/audiojs.swf" | relURL}}'
   });
 });
</script>
{{ template "_internal/google_analytics_async.html" . }}
