<div class = "container bottom_container">
  <div class="row">
  <div class="col-md-12">
    <nav class = "navbar navbar-default navbar_footer">
    <ul class="nav navbar-nav navbar-right">
      {{ if (isset .Site.Params "copyright_notice" ) }}
        <li>
          <p class = "footer_copyright">{{ .Site.Params.copyright_notice | markdownify}}</p>
        </li>
      {{ end }}
      <li>
        &nbsp;
      </li>
    </ul>
  </nav>

  </div>
</div>
</div>
{{ partial "footer_scripts.html" . }}

</body>
</html>
