{{- partial "jumbotron.html" . }}

<section class="episode-list">

  <div class = "col episode-list-header">
    <h2 class = "episode-list-header">All Episodes</h2>
  </div>

  <div class = "row">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "episode") }}
        {{ range $paginator.Pages }}
        {{ $.Scratch.Set "episode" .File.BaseFileName }}
          <div class="col-md-4">
            <div class="episode-image-homepage">
              <a href="{{ .Permalink }}">
                  <img src="{{ .Params.episode_image | absURL }}" class="img-fluid" alt="{{ .Title }}" />



              </a>
            </div>
            <div class="details">
              {{ title .Title }}
            </div>

          </div>
        {{ end }}


  </div>

</section>
{{ if gt $paginator.TotalPages 1 }}
<div class = "row">
<div class = "col">


<nav class="pagination justify-content-center">

<ul class="pagination pagination-lg">
  {{ with $paginator.First }}
  {{ $url := trim (string .URL) "/" | absURL  }}
  <li class="page-item">
      <a href="{{ $url }}" aria-label="First" class="page-link"><span aria-hidden="true">&laquo;&laquo;</span></a>
  </li>
  {{ end }}
  <li class="{{ if not $paginator.HasPrev }}disabled {{ end }}page-item">
      <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" aria-label="Previous" class="page-link"><span aria-hidden="true">&laquo;</span></a>
  </li>
  {{ range $paginator.Pagers }}
  {{ $url := trim (string .URL) "/" | absURL  }}
  <li class="{{ if eq . $paginator }}active {{ end }}page-item"><a href="{{ $url }}" class="page-link hidden-md-down">{{ .PageNumber }}</a></li>
  {{ end }}
  <li class="{{ if not $paginator.HasNext }}disabled {{ end }}page-item">
      <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}" aria-label="Next" class="page-link"><span aria-hidden="true">&raquo;</span></a>
  </li>
  {{ with $paginator.Last }}
  {{ $url := trim (string .URL) "/" | absURL  }}
  <li class="page-item">
      <a href="{{ $url }}" aria-label="Last" class="page-link"><span aria-hidden="true">&raquo;&raquo;</span></a>
  </li>
  {{ end }}
</ul>
</nav>
</div>
</div>
{{ end }}
</div>
</div>
