{{ if isset $.Site.Params "favicon"}}
<link rel="icon" href="{{ $.Site.Params.favicon | absURL }}">
{{ else }}
<link rel="icon" href="icons/favicon.ico">
{{ end }}
{{ if (fileExists "static/apple-touch-icon.png") -}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
{{- end}}
{{ if (fileExists "static/favicon-32x32.png") -}}
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
{{- end}}
{{ if (fileExists "static/favicon-16x16.png") -}}
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{{- end}}
{{ if (fileExists "static/site.webmanifest") -}}
<link rel="manifest" href="/site.webmanifest">
{{- end}}
{{ if and (isset $.Site.Params.realfavicongenerator "mask_icon_color") (fileExists "static/safari-pinned-tab.svg") -}}
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="{{ $.Site.Params.realfavicongenerator.mask_icon_color}}">
{{- end}}
{{ if isset $.Site.Params.realfavicongenerator "msapplication_tilecolor" -}}
<meta name="msapplication-TileColor" content="{{ $.Site.Params.realfavicongenerator.msapplication_tilecolor}}">
{{- end}}
{{ if isset $.Site.Params.realfavicongenerator "theme_color" -}}
<meta name="theme-color" content="{{ $.Site.Params.realfavicongenerator.theme_color}}">
{{- end}}
{{ if isset $.Site.Params "site_theme"}}
<link href="{{ printf "css/%s.css" $.Site.Params.site_theme | absURL}}" rel="stylesheet">
{{ else }}
<link href={{"css/orange.css" | absURL }} rel="stylesheet">
{{ end }}
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
<!-- Custom CSS -->
{{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}
<link href={{"css/all.css" | absURL }} rel="stylesheet">
<link href={{"css/mediaelementplayer.min.css" | absURL }} rel="stylesheet">
<style>
    .mejs__overlay-button {
        background-image: url("/img/mejs-controls.svg");
    }
    .mejs__overlay-loading-bg-img {
        background-image: url("/img/mejs-controls.svg");
    }
    .mejs__button > button {
        background-image: url("/img/mejs-controls.svg");
    }
    </style>
<link href={{"css/speed.min.css" | absURL }} rel="stylesheet">
{{ if eq .Section "blog" }}
    <link rel="alternate" type="application/rss+xml" title="{{$.Site.Title}}" href="{{"blog/index.xml" | absURL }}"/>
{{ else }}
    {{- if (isset $.Site.Params "rss_subscribe" ) -}}
        <link rel="alternate" type="application/rss+xml" title="{{$.Site.Title}}" href="{{$.Site.Params.rss_subscribe}}"/>
    {{- else -}}
        <link rel="alternate" type="application/rss+xml" title="{{$.Site.Title}}" href="{{"episode/index.xml" | absURL }}"/>
    {{- end -}}
{{ end }}