<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">
<div class="container">
<a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    {{ $currentNode := . }}
    {{ range sort .Site.Menus.main "Identifier"}}
      {{ if .HasChildren }}
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
        <div class="dropdown-menu">
        {{ range sort .Children  "Identifier"}}
          <a class="dropdown-item{{ if $currentNode.IsMenuCurrent "Main" . }} active {{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
        </div>
        </li>
      {{ else }}
          <li class= "nav-item {{ if or ($currentNode.IsMenuCurrent "Main" .) ($currentNode.HasMenuCurrent "Main" .) }} active {{ end }}">
          <a href="{{ .URL | absURL }}" class="nav-link">
              {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>


      <ul class="navbar-nav ml-auto">
        {{ if (isset .Site.Params.social "facebook" ) }}
          <li>
            <a class = "social-links" href="https://facebook.com/{{ .Site.Params.social.facebook }}"><i class="fab fa-facebook-square fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "twitter" ) }}
          <li>
            <a class = "social-links" href="https://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fab fa-twitter-square fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "youtube" ) }}
          <li>
            <a class = "social-links"  href="https://youtube.com/{{ .Site.Params.social.youtube }}"><i class="fab fa-youtube-square fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "googleplus" ) }}
          <li>
            <a class = "social-links" href="https://plus.google.com/+{{ .Site.Params.social.googleplus }}"><i class="fab fa-google-plus-square fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "pinterest" ) }}
          <li>
            <a class = "social-links" href="https://www.pinterest.com/{{ .Site.Params.social.pinterest }}"><i class="fab fa-pinterest-square fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "instagram" ) }}
          <li>
            <a class = "social-links" href="https://www.instagram.com/{{ .Site.Params.social.instagram }}"><i class="fab fa-instagram fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "linkedin" ) }}
          <li>
            <a class = "social-links" href="https://www.linkedin.com/in{{ .Site.Params.social.linkedin }}"><i class="fab fa-linkedin fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "github" ) }}
          <li>
            <a class = "social-links" href="https://github.com/{{ .Site.Params.social.github }}"><i class="fab fa-github-square fa-2x"></i></a>
          </li>
        {{ end }}
        {{ if (isset .Site.Params.social "gitlab" ) }}
          <li>
            <a class = "social-links" href="https://gitlab.com/{{ .Site.Params.social.gitlab }}"><i class="fab fa-gitlab fa-2x"></i></a>
          </li>
        {{ end }}
      </ul>
  </div>
  </div>
  </nav>
