<!-- Bootstrap -->
<link href="/css/site.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/bootstrap3_player.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
<link type="text/css" href="/css/jssocials.css" rel="stylesheet" />
<link type="text/css" href="/css/jssocials-theme-plain.css" rel="stylesheet" />

{{ partial "google-analytics" . }}
