<!DOCTYPE html>
<html itemscope lang="{{ .Site.LanguageCode }}" class="h-full bg-gray-50 dark:bg-gray-950">
<head>
{{ partial "head.html" . }}
</head>

<body lang="{{ .Site.Params.Lang }}" class="bg-gray-900">
  <div class="min-h-screen flex flex-col">
    {{ partial "header.html" . }}
  
    <main class="flex-1 pt-16 bg-slate-100 text-slate-900 dark:bg-slate-700 dark:text-slate-100">

        <div class="max-w-5xl mx-auto bg-white dark:bg-slate-900 rounded-lg shadow-xl p-6 mt-8">
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
