{{ define "main" }}

    <div class="row hero_container">
      <div class="col-md-12">
      <h2>
      Latest Episode
      </h2>

      {{ range first 1 (where .Data.Pages "Type" "episode") }}
        <div class = "row homepage_episode_row">
          <div class = "col-md-12">
            <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
            <small>Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
          </div>
        </div>
        <div class = "row homepage_episode_row">
          <div class = "col-md-4">
            <img class = "homepage_thumbnail img-rounded" src = "{{ .Params.episode_image }}" />
          </div>
          <div class = "col-md-8">
            <p class = "hompage_episode_description">{{ .Description | markdownify}}</p>
          </div>
        </div>
        <div class = "row">
          <div class = "col-md-12">
          <audio src="{{ .Site.Params.media_prefix }}{{ .Params.podcast_file }}" preload="auto" />
          </div>
        </div>
      {{ end }}
      </div>
    </div>

  <!-- rest of episodes -->
{{ $paginator := .Paginate (after 1 (where .Data.Pages "Type" "episode")) 5 }}
{{ $list := (where .Data.Pages "Type" "episode") }}
{{ $len := (len $list)}}
	<div class="row main_container">
		<div class="col-md-8">
    {{ if gt $len 1 }}
				{{ range $paginator.Pages }}
          <div class = "row homepage_episode_row">
            <div class = "col-md-12">
              <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
              <small>Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
            </div>
          </div>
          <div class = "row homepage_episode_row">
            <div class = "col-md-4">
              <img class = "homepage_thumbnail img-rounded" src = "{{ .Params.episode_image }}" />
            </div>
            <div class = "col-md-8">
              <p class = "hompage_episode_description">{{ .Description | markdownify}}</p>
            </div>
          </div>
          <div class = "row homepage_episode_row">
            <div class = "col-md-12">
            <audio src="{{ .Site.Params.media_prefix }}{{ .Params.podcast_file }}" preload="auto" />
            </div>
          </div>

        {{ end }}
      {{ end }}
		</div>
    <div class="col-md-4 sidebar_col">
      {{ partial "sidebar.html" . }}
    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
    {{ if gt $paginator.TotalPages 1 }}
<div class = "row">
<div class = "col">


<nav class="pagination justify-content-center">

  <ul class="pagination pagination-lg">
      {{ with $paginator.First }}
      <li class="page-item">
          <a href="{{ .URL }}" aria-label="First" class="page-link"><span aria-hidden="true">&laquo;&laquo;</span></a>
      </li>
      {{ end }}
      <li class="{{ if not $paginator.HasPrev }}disabled {{ end }}page-item">
          <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" aria-label="Previous" class="page-link"><span aria-hidden="true">&laquo;</span></a>
      </li>
      {{ range $paginator.Pagers }}
      <li class="{{ if eq . $paginator }}active {{ end }}page-item"><a href="{{ .URL }}" class="page-link hidden-md-down">{{ .PageNumber }}</a></li>
      {{ end }}
      <li class="{{ if not $paginator.HasNext }}disabled {{ end }}page-item">
          <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}" aria-label="Next" class="page-link"><span aria-hidden="true">&raquo;</span></a>
      </li>
      {{ with $paginator.Last }}
      <li class="page-item">
          <a href="{{ .URL }}" aria-label="Last" class="page-link"><span aria-hidden="true">&raquo;&raquo;</span></a>
      </li>
      {{ end }}
  </ul>
</nav>
</div>
</div>
{{ end }}
		</div>
  </div>
{{ end }}
