{{ define "main" }}
<div class="max-w-5xl mx-auto py-8 px-4">
  <div class="flex flex-wrap -mx-4 mb-6">
    <div class="w-full px-4">
      <h1 class="text-3xl font-bold mb-4">{{ title .Title }} {{ with .Params.Pronouns }}({{ . }}){{ end }}</h1>
    </div>
  </div>
{{ .Scratch.Delete "guest-names" }}

<div class="flex flex-wrap -mx-4">
  <div class="w-full lg:w-2/3 px-4 mb-8 lg:mb-0">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
      {{- if and (isset .Params "thumbnail") (ne .Params.thumbnail "") -}}
        {{- if (eq (slicestr .Params.thumbnail 0 4) "http") -}}
          <img alt="{{ .Title }}" src="{{ .Params.thumbnail }}" class="w-full h-auto rounded-lg shadow" width="250px">
          {{- else -}}
          <img alt="{{ .Title }}" src="{{ .Params.thumbnail | absURL}}" class="w-full h-auto rounded-lg shadow" width="250px">
        {{- end -}}
        {{- else -}}
        <img alt="{{ .Title }}" src="{{ "img/guest/default-guest.png" | absURL }}" class="w-full h-auto rounded-lg shadow" width="250px"/>
      {{- end -}}
      </div>
      <div class="w-full md:w-3/4 px-4">
        <div class="mb-4">
          {{ .Content }}
        </div>
        <div class="flex flex-wrap gap-2 items-center">
          {{ if .Params.Website }}
            <a href="{{ .Params.Website }}" target="_blank">
              <i class="fas fa-home fa-2x"></i>
            </a>
          {{ end }}
          {{ if .Params.Twitter }}
            {{ partial "social-link.html" (dict "context" .Params.Twitter "aclass" "" "iclass" "fab fa-twitter-square fa-2x" "prefix" "https://twitter.com/" "text" "") }}
          {{ end }}
          {{ if .Params.GitHub }}
            {{ partial "social-link.html" (dict "context" .Params.GitHub "aclass" "" "iclass" "fab fa-github-square fa-2x" "prefix" "https://github.com/" "text" "") }}
          {{ end }}
          {{ if .Params.LinkedIn }}
            {{ partial "social-link.html" (dict "context" .Params.LinkedIn "aclass" "" "iclass" "fab fa-linkedin fa-2x" "prefix" "https://www.linkedin.com/in/" "text" "") }}
          {{ end }}
          {{ if .Params.Facebook }}
            {{ partial "social-link.html" (dict "context" .Params.Facebook "aclass" "" "iclass" "fab fa-facebook-square fa-2x" "prefix" "https://www.facebook.com/" "text" "") }}
          {{ end }}
          {{ if .Params.Pinterest }}
            {{ partial "social-link.html" (dict "context" .Params.Pinterest "aclass" "" "iclass" "fab fa-pinterest-square fa-2x" "prefix" "https://www.pinterest.com/" "text" "") }}
          {{ end }}
          {{ if .Params.Instagram }}
            {{ partial "social-link.html" (dict "context" .Params.Instagram "aclass" "" "iclass" "fab fa-instagram fa-2x" "prefix" "https://www.instagram.com/" "text" "") }}
          {{ end }}
          {{ if .Params.YouTube }}
            {{ partial "social-link.html" (dict "context" .Params.YouTube "aclass" "" "iclass" "fab fa-youtube-square fa-2x" "prefix" "https://www.youtube.com/" "text" "") }}
          {{ end }}
          {{ if .Params.Twitch }}
            {{ partial "social-link.html" (dict "context" .Params.Twitch "aclass" "" "iclass" "fab fa-twitch fa-2x" "prefix" "https://twitch.tv/" "text" "") }}
          {{ end }}
          {{ if .Params.Mastodon }}
            {{ partial "social-link.html" (dict "context" .Params.Mastodon "aclass" "" "iclass" "fab fa-mastodon fa-2x" "prefix" "" "text" "") }}
          {{ end }}
          {{ if .Params.Threads }}
          {{ partial "social-link.html" (dict "context" .Params.Threads "aclass" "" "iclass" "fab fa-square-threads fa-2x" "prefix" "https://threads.net/@" "text" "") }}
          {{ end }}
          {{ if .Params.Bluesky }}
          {{ partial "social-link.html" (dict "context" .Params.Bluesky "aclass" "" "iclass" "fab fa-square-bluesky fa-2x" "prefix" "https://bsky.app/profile/" "text" "") }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/3 px-4">
    <div class="mb-4">
      <h3 class="text-xl font-semibold mb-2">Episodes Featuring {{ .Title }} {{ with .Params.Pronouns }}({{ . }}){{ end }}</h3>

        {{- with .Params.guest_group -}}
          {{- range where $.Site.Pages "Params.guest_group" . -}}
            {{- $.Scratch.Add "guest-names" (slice .File.BaseFileName) -}}
          {{- end -}}
        {{- else -}}

          {{- with .Params.Aka -}}
          {{- $.Scratch.Add "guest-names" (slice $.File.BaseFileName) -}}
            {{- range $names := . -}}
              {{- if ne $names $.File.BaseFileName }}
                {{- $.Scratch.Add "guest-names" (slice $names) -}}
              {{- end -}}
            {{- end -}}

          {{- else -}}
            {{ $.Scratch.Set "guest-names" (slice .File.BaseFileName) }}
          {{- end -}}
        {{- end -}}
      <div class="flex flex-col gap-2 guest_episode_list">
        {{ range $name := ($.Scratch.Get "guest-names") }}
        {{- $.Scratch.Set "guest-name" $name -}}
          {{- range $page := (where ( where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.upcoming" "!=" true ) -}}
            {{- range $page.Params.guests -}}
              {{- if eq  . ($.Scratch.Get "guest-name") -}}
                {{ if and (isset $.Site.Params "episode_number_style") ($page.Params.episode)}}
                  {{ if eq $.Site.Params.episode_number_style "parens" }}
                    <a href="{{ $page.Permalink }}" class="guest_page_episode_link block px-4 py-2 rounded bg-white border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transition">{{ $page.Title }} ({{ with $.Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ $page.Params.episode }})</a>
                  {{ else if eq $.Site.Params.episode_number_style "brackets" }}
                    <a href="{{ $page.Permalink }}" class="guest_page_episode_link block px-4 py-2 rounded bg-white border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transition">{{ $page.Title }} [{{ with $.Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ $page.Params.episode }}]</a>
                  {{ else if eq $.Site.Params.episode_number_style "dash" }}
                    <a href="{{ $page.Permalink }}" class="guest_page_episode_link block px-4 py-2 rounded bg-white border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transition">{{ $page.Title }} - {{ with $.Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ $page.Params.episode }}</a>
                  {{ else }}
                    <a href="{{ $page.Permalink }}" class="guest_page_episode_link block px-4 py-2 rounded bg-white border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transition">{{ $page.Title }}</a>
                  {{ end }}
                {{ else  }}
                  <a href="{{ $page.Permalink }}" class="guest_page_episode_link block px-4 py-2 rounded bg-white border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transition">{{ $page.Title }}</a>
                {{ end }}
              {{- end -}}<!-- if eq guest name-->
            {{- end -}}<!-- range params guests -->
          {{- end -}}<!--range episodes -->
      {{- end -}}<!-- range -->
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
