<div class="mb-8 grid_episode_col bg-castanet-primary-200 rounded-lg shadow">
  <div class="p-4">
    <div class="mb-4">
      <a href="{{ .Permalink }}">
          <img src="{{ .Params.blog_image | absURL }}" class="w-full h-auto rounded-lg shadow" alt="{{ .Title }}" />
      </a>
    </div>
    <div class="grid_episode_detail">
      <h3><a href="{{ .Permalink }}" class="grid_episode_title">{{ .Title }}</a></h3>
      <small class="block text-gray-500 dark:text-gray-400 mt-2">Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }} {{ partial "blog-metadata.html" .}}</small>
    </div>
  </div>
</div> 