<div class="relative mb-8 grid_episode_col bg-castanet-primary-200 rounded-lg shadow transition-transform duration-200 hover:-translate-y-1 hover:shadow-xl focus-within:ring-2 focus-within:ring-castanet-primary-400 h-full flex flex-col">
  <a href="{{ .Permalink }}" class="absolute inset-0 z-10" aria-label="{{ .Title }}"></a>
  <div class="p-4 flex-1 flex flex-col">
    <div class="mb-4">
      {{ partial "functions/image.html" (dict "path" .Params.episode_image "class" "w-full h-auto rounded-lg shadow") }}
    </div>
    <div class="grid_episode_detail">
      {{ if and (isset .Site.Params "episode_number_style") (.Params.episode) }}
        {{ if eq .Site.Params.episode_number_style "parens" }}            
          <h3 class="grid_episode_title">{{ .Title }} ({{ with .Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ .Params.episode }})</h3>
        {{ else if eq .Site.Params.episode_number_style "brackets" }}
          <h3 class="grid_episode_title">{{ .Title }} [{{ with .Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ .Params.episode }}]</h3>
        {{ else if eq .Site.Params.episode_number_style "dash" }}
          <h3 class="grid_episode_title">{{ .Title }} - {{ with .Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ .Params.episode }}</h3>
        {{ else }}
          <h3 class="grid_episode_title">{{ .Title }} ({{ with .Site.Params.episode_number_prefix }}{{ . }}{{ end }}{{ .Params.episode }})</h3>
        {{ end }}
      {{ else }}
        <h3 class="grid_episode_title">{{ .Title }}</h3>
      {{ end }}
      {{ if isset .Params "upcoming" }}
      <small class="block text-castanet-primary-500 dark:text-castanet-primary-400 mt-2">Scheduled for {{ dateFormat "Monday, Jan 2, 2006" .Date }} {{ partial "episode-metadata.html" .}}</small>
    {{ else}}
    <small class="block text-castanet-primary-500 dark:text-castanet-primary-400 mt-2">Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }} {{ partial "episode-metadata.html" .}}</small>
    {{ end }}
    </div>
  </div>
</div>