name: CI
on: [pull_request]
jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    strategy:
      matrix:
        castanet-config: [blue-grid,blue-row-jumbo-false,blue-row-jumbo-true]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.75.1' 
      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: build
        run: |
          cd exampleSite
          # hugo server --baseUrl="http://localhost:1313"
          ls
      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.6.x
          ls
          lhci collect --settings.configPath=./test/$CASTANET_CONFIG.js
          lhci assert
          lhci upload
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          CASTANET_CONFIG: ${{ matrix.castanet-config }}